body {
	margin: 0px;
	font-family: Lato, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.localonly {
	display:none;
}
.exporter {
	displayX:none;
}
.sectionContent {
	font-family: 'Lato', sans-serif;
	font-family: Lato, sans-serif; /* not installed: NunitoSans-Regular */
	font-size: 14px;
	position: relative;
	max-width: 1100px;
	margin: 0 auto !important;
	float: none !important;
    font-size: 15px;
    height: auto;
    padding-left: 20px;
    padding-right: 25px;
	font-weight: 400;
}
#introText {
	overflow: auto;
	line-height: 22px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
#botConversation {
	float:left;
}
#mainCats {
	float:left;
	position:relative;
	padding-right:10px;
	padding-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	border-right: 1px solid #ddd;
}
#botPanel, #topPanel, #mapPanel, #mainframe {
	border: 1px solid #ccc;
	max-width: 950px;
	padding: 20px;
	margin-bottom: 20px;
}
#mapPanel {
	padding: 0px;
}

.pagePanel {
	padding-top:20px;
	overflow:auto;
}
#topPanel {
	position: relative;
	padding-bottom: 20px;
}
#topPanelFooter {
	background: #eee;
	position: absolute;
	padding-top: 3px;
	height: 16px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: #888;
	font-size: 10px;
	cursor: pointer;
}
#topPanelFooter:hover {
	color:#333;
}
#subcatHeaderHolder {
	margin:14px 0 8px 0;
}
#subcatHeader {
	cursor: pointer;
}
#productCodeHolder {
	max-height: 400px;
	overflow:auto;
}
#productCatTitle {
	font-size: 18px;
	margin-bottom: 15px;
	overflow: auto;
}
#productSubcats {
	overflow:auto;
	max-height: 600px;
	background: #fff;
	padding-left: 10px;
}
#productSubcats > div {
	clear:both;
	padding-bottom: 7px;
}
#productSubcats > div > div:first-child {
	float:left;
	margin-right:20px;
}
#productSubcats > div > div:nth-child(2) {
	overflow:auto;
}
#productSubcats > div > div {
	/* prevent double click on checkbox */
	pointer-events: none;
}
.catHeader {
	colorX:#fff;
	backgroundX:#3B99FC;
	font-size: 18px;
	color:#555;
	padding: 7px 8px 7px 8px;
}
.catList > div {
	padding: 7px 8px 7px 8px;
	border: solid 1px #fff;
	
}
.catList > div:hover {
	background: #f3f3f3;
	cursor: pointer;
	font-weightX: bold;
}
#hsCatList {
	padding-bottom: 14px;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}
#hsCatList > div {
	width: 23%;
	float: left;
	margin-right: 14px;
	padding: 4px 4px 4px 6px;
	font-size: 13px;
	box-sizing: border-box; 
	overflow: hidden;
	height:26px;
	line-height: 20px;
}
#hsCatList > div:hover {
    background: #f3f3f3;
	cursor: pointer;
}
#allProductCats {
	display: none;
}
.backArrow {
	font-size: 20px;
	margin-top: -4px;
	cursor: pointer;
	float:left;
}

.orangeButton {
    color: #fff;
    border: 1px solid #f47d22;
    background-color: #f47d22;
}
.orangeButton:hover {
	border: 1px solid #f36736 !important;
    background-color: #f36736 !important;
}
.lowerButton {
	border-radius: 7px;
	max-height: 14px;
}
.detailbutton:hover {
	background-color: #efefef;
}
#dataList {
	overflow: auto;
	position: relative;
	max-widthX: 400px;
}
#itemMenu {
	border:1px solid #ccc;
	padding: 5px 0 5px 0;
	z-index: 10;
	background: #fff;
	position: absolute;
	top:30px;
	right:0px;
}
#itemMenu > div {
	padding: 6px 30px 6px 30px;
}
#itemMenu > div:hover {
	background: #eee;
}
.showItemMenu {
	font-size: 24px;
	cursor: pointer;
}
#mainframe {

}
#resultsPanel {
	line-height: 20px;
	display: none;
}
#dataList > div {
	margin-bottom: 30px;
}
#dataList > div > div {
	/* margin-left: 40px; */
}
#dataList > div > div > div:first-child {
	margin-left: 0px;
	font-size: 18px;
}
#dataGrid {
	border-right: 3px solid #ccc;
	display:none;
}
input[type="checkbox" i] {
	transform: scale(1.2);
}
iframe {
    display: block;
    border: none;
    min-height: 94vh;
    width: 100%;
}
#catListHolder {
	padding-bottom: 20px;
}
#catListHolderShow {
	display: none;
}
@media (max-width: 599px) {
	#mainCats {
		width:100%;
		float: none;
		border-bottom: 2px solid #333;
		border-right: 0px;
	}
	#rightButtons {
		float: left !important;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#productSubcats {
		float:left;
	}
	#catListHolder {
		display: none;
	}
	#catListHolderShow {
		display: block;
	}
	.backArrow {
		display: inline;
	}
	.menu > div:first-child {
		cursor: pointer;
	}
	#hsCatList > div {
	    width: 100%;
	}
}