/* /tools and /map/hubs */ 

  #map1 {
    height: 600px;
    width: 100%;
  }
  
  .leaflet-touch .leaflet-bar {
     border:none;
  }
  .leaflet-touch .leaflet-bar a {
    width:38px !important;
    height:38px !important;
    font-size: 26px !important;
    color: #333;
    border-radius: 6px !important;
  }
  .leaflet-control-zoom-in {
    margin-bottom:6px;
    border:#bbb 2px solid !important;
    line-height: 34px !important;
  }
  .leaflet-control-zoom-out {
    border:#bbb 2px solid !important;
    line-height: 36px !important;
  }

  #legendHolder {
    position: absolute;
    background-color:rgba(33,33,33,0.5);
    background-color:rgba(255,255,255,0.85);
    color:#fff !important;
    bottom:0;
    right:0;
    paddingX:10px 30px 10px 30px;
    font-size: 14px;
    z-index: 1000;
    heightX:230px;
    z-index: 500; /* allows credits to cover bottom */
    overflow: scroll;
  }
  #allLegends div svg {
    overflow: visible;
    
  }
  #map2 {
    height: 500px;
    rightX: 0;
    widthX: 100%;
    box-sizing: border-box;
  }

  aside, pre { display: none; }
  /*
  div.legend { position: relative; width: 200px; float: left; }
  */


  .leaflet-popup {
    bottom: 17px !important; 
    /* Need to move map down more when popup is near top.  Default is -7px. */
  }
  #floatingButtons {
    display:none;
    height:40px;
    width:100%;
    position:fixed;
    bottom:0;
    background-color:#777;
    z-index:9999;
  }
  #flexwrapper {
    padding-topX: 40px;
  }
  #flexwrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #hublist {
    overflow: auto;
    width:56%;
  }
  #mapHolder {
    width: 44%;
    z-index: 10; /* to exceed right column in external site */
    /* Show box for testing scroll */
    /* border: 1px solid #ccc; */

    position: relative;
    float:right;
  }
  .detail {
    padding-bottom: 12px;
    margin-bottom: 12px; 
    border-bottom: 1px solid #eee;
  }

  .mapHolderBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .mapHolderFixed {
    position: fixed;
    z-index: 1;
    top: 80px;
    bottom: auto;
    width: 46%;
    width: 480px;
    padding-rightX: 30px; /* since fix is relative to page */
  }
  @media (max-width: 1300px) {
    .mapHolderFixed {
      width: 450px;
    }
  }
  @media (max-width: 1200px) {
    .mapHolderFixed {
      width: 380px;
    }
  }
  #sidemapbar {
    height: 30px;
    border-bottomX: 1px solid #999;
    background-color: #fff;
    position: relative;
    color: #555;
    font-size: 16px;
  }
  
  
  .mapHolderFixed > .mapHolderCard {
    margin-right: 30px;
  }

  @media (max-width: 800px) {

    .padding {
      padding: 20px;
    }
    #flexwrapper {
      display: block;
      box-sizing: border-box;
    }
    #hublist {
      width:auto;
      
    }
    .padding-left {
      padding-left: 30px;
    }
    #mapHolder {
      float: none;
      width: auto;
      margin-top: 70px;
      margin-left: 30px;
      margin-bottom: 30px;
    }
    .mapHolderInner {
      position: relative;
      width: auto;
    }
    .mapHolderCard {
      heightX:400px;
      margin-right: 30px;
      borderX: 0px solid #fff;
    }

    #hublist {
      margin-left: auto;
      margin-right: auto;
    }

    #floatingButtons {
      display:block;
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 30px; 
      font-weight: 400;
    }
  }
