.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
info/rstudio/data/tl_2019_us_state/tl_2019_us_state.shx
info/rstudio/data/tl_2019_us_state/tl_2019_us_state.shp.iso.xml
info/rstudio/data/tl_2019_us_state/tl_2019_us_state.shp.ea.iso.xml
info/rstudio/data/tl_2019_us_state/tl_2019_us_state.shp
info/rstudio/data/tl_2019_us_state/tl_2019_us_state.prj
info/rstudio/data/tl_2019_us_state/tl_2019_us_state.dbf
info/rstudio/data/tl_2019_us_state/tl_2019_us_state.cpg
info/rstudio/data/tl_2019_us_county/tl_2019_us_county.shx
info/rstudio/data/tl_2019_us_county/tl_2019_us_county.shp.iso.xml
info/rstudio/data/tl_2019_us_county/tl_2019_us_county.shp.ea.iso.xml
info/rstudio/data/tl_2019_us_county/tl_2019_us_county.shp
info/rstudio/data/tl_2019_us_county/tl_2019_us_county.prj
info/rstudio/data/tl_2019_us_county/tl_2019_us_county.dbf
info/rstudio/data/tl_2019_us_county/tl_2019_us_county.cpg
start/dataset/icons/agriculture.png
start/dataset/icons/art-01.png
start/dataset/icons/biomass-01.png
start/dataset/icons/localproduct-01.png
